:root {
  --font-rubik: 'Rubik', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --green: #69B99D;
  --blue: #1F2744;
  --blue-1: #054457;
  --gray: #73788C;
  --gray-soft-1: #F5F5F5;
  --gray-soft-2: #F8F9FE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-rubik);
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--gray);
}

h2 {
  text-align: center;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins);
  font-weight: 500;
}

/* ---- NAV ---- */
header {
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: var(--gray-soft-1);
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.icon-bars {
  display: inline-block;
  background-image: url("../icons/bars.svg");
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.nav-menu {
  position: fixed;
  background-color: var(--gray-soft-1);
  display: grid;
  width: 100vw;
  height: 92vh;
  left: -100%;
  bottom: 0;
  align-items: center;
  justify-items: center;
  row-gap: 25px;
  transition: all .5s;
  z-index: 1;
}

.show-menu {
  left: 0;
}

.nav-menu ul {
  list-style: none;
  font-family: var(--font-poppins);
  text-align: center;
}

.nav-menu ul a {
  font-size: 3rem;
  line-height: 60px;
}

.header-containeer-btn {
  width: 80%;
  height: 50px;
  display: flex;
  column-gap: 16px;
}

.header-containeer-btn button {
  width: 49%;
  border: none;
  font-size: 3rem;
  font-family: var(--font-poppins);
}

.btn-sign {
  background-color: var(--gray-soft-1);
  color: var(--green);
}

.btn-login {
  background-color: var(--green);
  color: white;
}

/* ---- HOME ----  */

.home {
  display: grid;
  align-content: center;
  height: 100vh;
  background-color: var(--gray-soft-1);
  padding: 48px 16px 0px;
}

.home h2 {
  background: white;
  color: var(--green);
  align-self: self-end;
}

.home h1 {
  font-size: 3rem;
  color: var(--blue);
  margin-top: 16px;
}

.home p {
  font-size: 1.6rem;
  color: var(--gray);
  margin: 24px 0;
  font-family: var(--font-poppins);
}

.home-container-btn {
  display: flex;
  justify-self: center;
}

.home-container-btn button {
  font-family: var(--font-rubik);
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
}

.btn-buy {
  background-color: #fff;
  width: 50%;
  height: 40px;
  color: var(--green);
}

.btn-rent {
  background-color: var(--gray-soft-1);
  width: 50%;
  height: 40px;
  color: var(--gray);
}

.home form {
  background-color: white;
  width: 90%;
  justify-self: center;
}

.home-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}

.home form label {
  font-size: 1.6rem;
  padding: 8px 16px 0px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.down-arrow {
  display: inline-block;
  background-image: url("../icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15px;
  height: 15px;
}

.home form input {
  border: none;
  font-size: 1.6rem;
  width: 100%;
  height: 24px;
  padding: 8px 16px;
}

.home form>.home-form-container button {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: var(--green);
  color: white;
  height: 40px;
  cursor: pointer;
}

/* --- DISCOVER ----  */

.discover {
  display: grid;
  row-gap: 16px;
  padding: 24px 16px;
  justify-items: center;
}

.discover h2 {
  background-color: var(--gray-soft-2);
  color: var(--green);
  justify-self: self-start;
}

.discover h3 {
  font-size: 3rem;
  color: var(--blue-1);
}

.discover p {
  font-size: 1.6rem;
  color: var(--gray);
  font-family: var(--font-poppins);
}

.discover a {
  font-size: 1.6rem;
  color: var(--green);
  justify-self: flex-end;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.icon-right-arrow-green {
  display: inline-block;
  background-image: url("../icons/right-arrow-circle.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.discover-container-cards {
  display: grid;
  grid-auto-flow: column;
  column-gap: 32px;
  width: 90%;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.discover-card {
  width: 100%;
  border: 1px solid #DEDCDA;
  padding: 16px;
  scroll-snap-align: center;
}

.discover-card img {
  width: 100%;
}

.discover-card h4 {
  font-size: 1.8rem;
  color: var(--blue);
}

.discover-card p {
  font-size: 1.4rem;
  color: #A6A6A6;
  font-family: var(--font-poppins);
  font-weight: 400;
}

.discover-card-detail {
  display: flex;
  align-items: center;
  column-gap: 16px;
  justify-content: space-between;
}

.discover-card .discover-card-detail-price {
  color: var(--green);
  font-size: 2rem;
  font-weight: 600;
}

.discover-card .discover-card-detail-area {
  background-color: var(--gray-soft-2);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 8px 0; */
  column-gap: 8px;
}

.discover-card .discover-card-detail-area span {
  color: var(--blue);
}

.discover-card button {
  width: 100%;
  font-family: var(--font-poppins);
  background-color: white;
  border: 1px solid var(--green);
  color: var(--green);
  height: 32px;
  margin-top: 16px;
  cursor: pointer;
}

.discover-card .discover-card-btn {
  background-color: var(--green);
  color: white;
  box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}

/* ---- OUR ADVANTE ----  */

.our-advante {
  display: grid;
  background-color: var(--gray-soft-1);
  padding: 16px 16px;
}

.our-advante h2 {
  background-color: var(--gray-soft-2);
  color: var(--green);
}

.our-advante h3 {
  font-size: 3rem;
  color: var(--blue-1);
}

.our-advante-container-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 32px;
}

.our-advante-item {
  width: 100%;
}

.icon-our-advante {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

.icon-heart {
  background-image: url("../icons/heart.svg");
}

.icon-shield {
  background-image: url("../icons/shield.svg");
}

.icon-star {
  background-image: url("../icons/star.svg");
}

.icon-ticket {
  background-image: url("../icons/ticket.svg");
}

.icon-location {
  background-image: url("../icons/location.svg");
}

.icon-graph {
  background-image: url("../icons/graph.svg");
}

.our-advante-item h4 {
  font-size: 2rem;
  color: var(--blue-1);
}

.our-advante-item p {
  font-size: 1.4rem;
  font-family: var(--font-poppins);
  color: var(--gray);
}

/* ---- ABOUT US ---- */

.about-us {
  display: grid;
  padding: 16px 16px;
}

.about-us-container-text {
  display: grid;
}

.about-us .about-us-container-text h2 {
  color: var(--green);
  background-color: var(--gray-soft-1);
}

.about-us .about-us-container-text h3 {
  font-size: 3rem;
  color: var(--blue-1);
}

.about-us .about-us-container-text p {
  color: var(--gray);
  font-size: 1.6rem;
  font-family: var(--font-poppins);
}

.about-us .about-us-container-text a {
  background-color: var(--green);
  color: white;
  justify-self: start;
  font-family: var(--font-poppins);
  width: 186px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-container-img {
  width: 100%;
  position: relative;
  margin-top: 120px;
  height: 300px;
  background-image: url("../images/house-about-us.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-us-rating-container {
  position: absolute;
  background-color: white;
  width: 124px;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -96px;
  left: 48px;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.26);
}

.about-us-rating-container p {
  font-size: 1.6rem;
  font-family: var(--font-poppins);
  color: var(--gray)
}

.icon-about-us {
  display: inline-block;
  background-image: url("../icons/check.svg");
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -12.5px
}

.about-us-rating-container img {
  width: 70%;
}

.about-us-rating-container .score {
  font-size: 7.2rem;
  line-height: 70px;
  color: var(--blue-1);
}

.about-us-rating-container .review {
  color: var(--blue-1);
  font-size: 1.4rem;
}

.about-us-detail-container {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 60px;
}

.about-us-detail-container span {
  font-size: 3rem;
  color: var(--blue-1);
}

.about-us-detail-container p {
  font-family: var(--font-poppins);
  font-size: 1.2rem;
  font-weight: lighter;
  color: #A6A6A6;
}

/* ---- CUSTOMER TESTIMONIAL ---- */

.customer-testimonial {
  display: grid;
  padding: 16px;
}

.customer-testimonial h2 {
  color: var(--green);
  background-color: var(--gray-soft-2);
  width: 200px;
}

.customer-testimonial h3 {
  font-size: 3rem;
  color: var(--blue-1);
}

.customer-testimonial a {
  font-size: 1.6rem;
  color: var(--green);
  justify-self: end;
  display: flex;
  align-items: center;
}

.customer-testimonial a i {
  display: inline-block;
  background-image: url("../icons/right-arrow-circle.svg");
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  filter: drop-shadow(3px 3px 4px #69b99dbb);
}

.customer-testimonial-container-items {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 70%);
  margin-top: 32px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.customer-testimonial-item {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;
}

.icon-quote {
  display: inline-block;
  background-image: url(../icons/quote.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.customer-testimonial-container-items h4 {
  color: var(--blue);
  font-size: 1.6rem;
  font-family: var(--font-poppins);
  font-weight: 700;
}

.customer-testimonial-container-items p {
  color: var(--blue);
  font-weight: 400;
  font-size: 1.4rem;
  font-family: var(--font-poppins);
}

.customer-testimonial-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.customer-testimonial-data h5 {
  font-family: var(--font-poppins);
  font-size: 1.2rem;
}

.customer-testimonial-data p {
  color: var(--gray);
  font-size: 1.1rem;
}

/* ---- FOOTER ---- */

footer {
  display: grid;
  padding: 16px;
  background-color: var(--gray-soft-1);
}

.newlester {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newlester img {
  width: 40%;
}

.newlester p {
  font-size: 1.6rem;
  color: var(--blue);
  font-family: var(--font-poppins);
  text-align: center;
}

.newlester h2 {
  color: #0B2E29;
  font-size: 2rem;
}

.newlester form {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.newlester form input {
  border: none;
  height: 40px;
}

.newlester form input:nth-child(1) {
  width: 70%;
}

.newlester form input:nth-child(1)::placeholder {
  color: #D7D7D7;
  font-family: var(--font-poppins);
  padding-left: 16px;
}

.newlester form input:nth-child(2) {
  width: 20%;
  background-color: var(--green);
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 30px rgba(105, 185, 157, 0.377);
}

.nav-footer {
  display: grid;
  margin-top: 16px;
}

.nav-footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-footer-list h2 {
  font-size: 1.6rem;
  color: var(--blue);
}

.nav-footer-list p {
  color: var(--gray);
  font-size: 1.4rem;
  font-family: var(--font-poppins);
}

.nav-footer-container-icons {
  display: flex;
  column-gap: 16px;
}

.instagram {
  display: inline-block;
  background-image: url("../icons/instagram.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.youtube {
  display: inline-block;
  background-image: url("../icons/youtube.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.facebook {
  display: inline-block;
  background-image: url("../icons/facebook.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}