:root {
  --font-rubik: 'Rubik', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --green: #69B99D;
  --blue: #1F2744;
  --gray: #73788C;
  --gray-soft: #F5F5F5;
}

header {
  width: 100vw;
  padding: 0;
}
header nav {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  height: 60px;
  position: relative;
  justify-items: center
}
header nav div ul {
  flex-direction: column;
  row-gap: 32px;
  z-index: 3;
  
}

.icon-bars {
  display: inline-block;
  background-image: url("../icons/bars.svg");
  width: 40px;
  height: 40px;
  color: black;
  right: 10px;
  top: 10px; 
}
.header-container-ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  top: 60px;
  left:-100%;
  background-color: var(--gray-soft);
  justify-content: space-evenly;
  text-align: center;
  transition: all .5s;
}
.show-menu {
  left: 0;
}
.header-containeer-btn {
  flex-direction: row;
  row-gap: 24px;
}

/* ---- HOME ---- */

.home {
  background-size: 80%;
  background-position: 100% 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  align-content: center;
  padding: 16px 16px
}

.home h1 {
  position: static;
  font-size: 3rem;
  margin-bottom: 8px;
}

.home h2 {
  position: static;
  margin-bottom: 8px;
}

.home p {
  position: static;
  margin-bottom: 8px;
}

.home-container-btn {
  position: static;
}

.home form {
  position: static;
  background-color: white;
  width: 200px;
  height: 280px;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ---- DISCOVER ---- */

.discover {
  padding: 24px 24px;
  grid-template-rows: repeat(5, auto);
}

.discover h3 {
  font-size: 2.8rem;
}

.discover a {
  grid-column: 1/ 2;
  grid-row: 4 / 5;
}

.discover-container-cards {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  grid-template-rows: 1fr;
  row-gap: 20px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  justify-content: flex-start;
}

.discover-card {
  width: 270px;
  scroll-snap-align: center;
}

.discover h4 {
  font-size: 2rem;
}

.discover-card button {
  width: 230px;
}

/* ---- OUR ADVANTE ---- */

.our-advante {
  padding: 24px 24px;
  row-gap: 0;
}

.our-advante h3 {
  font-size: 2.8rem;
}

.our-advante-container-items {
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.our-advante-item {
  width: 280px;
  height: 300px;
  margin-top: 0;
  padding: 0;
}

/* ---- ABOUT US ---- */

.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  margin-top: 220px;
  padding: 0px 0px;
}

.about-us-container-img {
  grid-column: 1 / 3;
}

.about-us-rating-container {
  left: 25px;
  box-shadow: 15px 15px 30px rgba(146, 106, 120, 0.16);
}

.about-us-detail-container {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0;
  background-color: white;
  width: 175px;
  height: auto;
}

.about-us-detail-container span {
  font-size: 3rem;
}

.about-us-container-text {
  grid-column: 1 / 3;
  padding: 32px 8px;
}

.about-us-container-text h3 {
  font-size: 3rem;
  line-height: 32px
}

.about-us-container-text p {
  font-size: 1.6rem;
  line-height: 16px;
  color: var(--gray);
}
.about-us-container-text a {
  padding: 10px 100px;
}

/* ---- CUSTOMER TEESTIMONIAL ---- */

.customer-testimonial {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  padding: 32px 24px;
}

.customer-testimonial h3 {
  font-size: 4.8rem;
  line-height: 48px;
}

.customer-testimonial a {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.customer-testimonial-container-items {
  grid-row: 4 / 5;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  justify-content: flex-start;
}

.customer-testimonial-item {
  width: 280px;
  height: 400px;
  scroll-snap-align: center;
}

/* ---- FOOTER ---- */

footer {
  padding: 24px 24px;
  grid-template-columns: 1fr;
}

.newlester form :nth-child(1) {
  width: 200px;
  padding: 16px 0;
}

.newlester form :nth-child(2) {
  padding: 10px 10px;
}

.nav-footer {
  grid-auto-flow: row;
  row-gap: 32px;
}

.nav-footer p {
  margin-top: 8px;
}

.nav-footer-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newlester .form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}